/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
   
  height: 100vh;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 80%
  }
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */

  html, body {
    height: 100%;
  }